/*font-family: 'Lovers Quarrel', cursive;
font-family: 'Italianno', cursive;
font-family: 'Pacifico', cursive;
font-family: 'Merriweather', serif;*/

/* This is just a comment to mark a spot - will be removed */
html,
body,
.cover {
    height: 100%;
    font-family:"Merriweather", serif;
}

body{
	position:relative;
}

section{
	padding:80px;
}

h2{
	text-align: center;
	font-size:28px;
	font-weight: bold;
	text-transform: uppercase;
	margin: 0 0 60px;
}

h2 + p {
	text-align: center;
	margin-top: -60px;
}
.cover{
	background: url("images/pinkBlackSalon.jpg") top left no-repeat;
	background-size: cover;
	display:table;
	width:100%;
	padding: 0 20%;
	box-shadow: inset 0 0 100px #FF1493;
	position:relative;
}

.cover-text{
	text-align: center;
	color: black;
	margin-top:20px;
	display:table-cell;
	vertical-align: top;
}

.cover-text h1{
	font-family:"Pacifico", cursive;
	margin-top:60px;
	font-size:70px;
	letter-spacing: -3px;
}

.cover-text h2{
	margin-top:24px;
	font-size:20px;
	text-transform: capitalize;
}

.cover-text h2 + p + lead{
	margin-top:10px;
	font-weight:600;
	color: purple;
	font-family: 'Merriweather', serif;
}

#makeCut{
	color: white;
	font-family: 'Merriweather', serif;
	position:absolute;
	bottom:10%;
	left:20%;
}
#coverButton{
	background:black;
	color:white;
	position:absolute;
	bottom:20px;
	right:25px;
}

.testing{
	position: : calc(100%-50px);
}

#coverButton{
	position:calc(100%-50px) calc(100%-20px);
}
nav.navbar-inverse{
	background:rgba(255, 105, 180, 0.5);
	border:none;
	font-family: "Merriweather", serif;
	font-weight:800;
}

.navbar-inverse .navbar-nav>li>a {
    color: black;
}

.navbar-inverse .navbar-brand {
	font-family:'Pacifico', cursive;
	font-weight:100;
	font-size:23px;
	color:black!important;
	border:none;
  color: black;
}


.testimonial{
	background: #222;
}

blockquote{
	border:none;
	margin: 0;
	font-family: 'Merriweather', serif;
	font-size: 18px;
	font-weight:400;
	color:#FF66C1;
}

blockquote cite{
	display: block;
	text-align: center;
	font-family: 'Pacifico', cursive;
	font-size: 20px;
	color: #ffb6c1;
	font-weight:400;
	margin-top: 10px;
}

#why-us{
	background: url("images/pinkBubbleBackground.jpg") top left no-repeat;
	background-size:cover;
	opacity: 0.5;
	box-shadow: inset 0 0 50px rgba(255, 182, 193, 0.5);

}

#why-text{
	font-weight:800;
	color:black;
}
#team{
/*	background: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQBwvYYBqTO6AzJCDNC4jDwYZ62B7Y1tDOjC4d5YUP8ZxoZd90zig") top left no-repeat;
	background-size:cover;
	opacity: 0.5;*/
	color:#ff1493;
	text-align:center;
}

#team.container{
	opacity: 1.0;
}

#signup{
	background: url("images/pinkScarf.jpg") top left no-repeat;
	/*background-size:cover;*/
	opacity: 0.8;
}
.input-group-btn:last-child>.btn{
	background-color:#ff1493;
}

.joinUs{
	float:right;	
}

/*form{
	float:right;
}*/

#buttonContact {
    background-color: pink;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}
footer{
	background: #ffc0cb;
	text-align: center;
	padding: 20px;
	font-family: Georgia, Times, serif;
}

footer a{
	color:#ff1493;
}

img {
	max-height: 300px;
	max-width: 400px;
}

.blog{
 margin: 4em 0;
 position: relative; 
}
.blog h1{
 color:#F97300;
 margin: 2em; 
}
.blog .card{
 box-shadow: 0 0 20px #ccc;
}
.blog .card img{
 width: 100%;
 height: 12em;
}
.blog .card-title{
 color:#F97300;
  
}
.blog .card-body{
 padding: 1em;
}

.box-shadow { box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05); }

.card-img-top {
    height: 25rem;
    object-fit: cover;
    width:100%;
}
.card{
	margin-bottom:3rem;
}
.shadow {
   -moz-box-shadow:    inset 0 0 10px #000000;
   -webkit-box-shadow: inset 0 0 10px #000000;
   box-shadow:         inset 0 0 10px #000000;
}

/* Media Queries */

@media only screen and ( max-width : 568px ) {
    .cover h1 {
        font-size: 40px;
    }
    section {
        padding: 20px;
    }
    
}