/*font-family: 'Lovers Quarrel', cursive;
font-family: 'Italianno', cursive;
font-family: 'Pacifico', cursive;
font-family: 'Merriweather', serif;*/

/* This is just a comment to mark a spot - will be removed */
html,
body,
.cover {
    height: 100%;
    font-family:"Merriweather", serif;
}

body{
	position:relative;
}

section{
	padding:80px;
}

h2{
	text-align: center;
	font-size:28px;
	font-weight: bold;
	text-transform: uppercase;
	margin: 0 0 60px;
}

h2 + p {
	text-align: center;
	margin-top: -60px;
}

/*-------- Cover/Overlay ----------*/

.cover{
	background: url("images/pinkBlackSalon.jpg") top left no-repeat;
	background-size: cover;
	display:table;
	width:100%;
	padding: 0 20%;
	box-shadow: inset 0 0 100px #FF1493;
	position:relative;
}

.cover-text{
	text-align: center;
	color: black;
	margin-top:20px;
	display:table-cell;
	vertical-align: top;
}

.cover-text h1{
	font-family:"Pacifico", cursive;
	margin-top:1.25em;
	font-size:4em;
	letter-spacing: -4px;

}

.headerbg{
	background-color:rgba(255, 250, 250, 0.5);
	border-radius:150px;
}
#overlay {
    position: absolute;
    width: 30%;
    height: 70%;
    border-radius:50%;
    top: 6rem;
    left: 20rem;
    right: 0;
    bottom: 0;
    background-color: rgba(255, 250, 250, 1);
    z-index: 2;
    cursor: pointer;
}

#overlaytext{
    position: absolute;
    font-size: 30px;    
		font-family: 'Merriweather', serif;
		letter-spacing: -3px;
    text-align:center;
    color: slategray;
    transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
}

#makeCut{
	color: black;
  font-family:"Italianno", cursive;
	font-size: 1.75rem;
  font-weight:800;
/*  padding:0, 2px;
  overflow-wrap: normal;
  position:relative;*/
/*	position:absolute;
	bottom:10%;
	left:20%;*/
}

/*#coverButton{
	background:#FF1493;
	color:white;
	position:absolute;
	bottom:10%;
	text-align: center;
}*/

#coverButton {
  position:absolute;
  bottom:15%;
/*  left:45%;
*/  transform:translate(-50%,-50%);
  width:auto;
/*  background:#FF1493
  border:1px solid pink;
*/  color:white;
  line-height:40px;
  text-align:center;
  border-radius:15px;
  overflow:hidden;
  z-index:2;
  transition:all 800ms linear 0ms;
  font-size:18px;
}
#coverButton:before {
  content:"";
  position:absolute;
  background-color:#FF66C1;
  left:0px;
  right:0px;
  top:0px;
  bottom:0px;
  margin:auto;
  width:auto;
  height:400px;
  left:-100px;
  border-radius:50%;
  transition:all 800ms ease-in-out;
  z-index:-1;
}
#coverButton:hover {
  color:#fff;
}
#coverButton:hover:before {
  box-shadow:inset 0px 0px 0px 200px #6e48de;
}


/* -------- Navigation Bar*----------*/
nav.navbar-inverse{
	background:rgba(255, 105, 180, 0.3);
	border:0;
	font-family: "Merriweather", serif;
	font-weight:800;
}

.navbar-inverse .navbar-nav>li>a {
    color: black;
/*    margin-right: 10px;*/
}

.navbar-inverse .navbar-brand {
	font-family:'Pacifico', cursive;
	font-weight:100;
	font-size:23px;
	color:black!important;
	border:none;
  color: black;
}

/* -------- Testimonial Section*----------*/

.testimonial{
	background: url("images/bgSilverGray.jpg") top left no-repeat;
	background-size:cover;
  opacity: 0.7;
	box-shadow: inset 0 0 150px rgba(255, 182, 193, 0.7);
}

blockquote{
	border:none;
	margin: 0;
	font-family: 'Merriweather', serif;
	font-size: 18px;
	font-weight:800;
	color:black;

}

blockquote cite{
	display: block;
	font-family: 'Pacifico', cursive;
	font-size: 25px;
  color: black;
	font-weight:400;
	margin-top: 10px;
}

/* -------- Why Us Section / Services*----------*/

#services{
	background: url("images/pinkBubbleBackground.jpg") top left no-repeat;
	background-size:cover;
	opacity: 0.5;
	box-shadow: inset 0 0 50px rgba(255, 182, 193, 0.5);

}

#why-text{
	font-weight:800;
	color:black;
}
/*.card{
  height:40px;
}*/

#services .album{
  background:none;
}

#services .card-title{
  overflow-wrap: normal;
}
#services .card-body{
  height: 400px;
  background-color: #F2DEE3;
  box-shadow: inset 0 0 100px #FF1493;
}

#services .card-text{
  text-overflow: ellipsis;
  overflow-y:scroll;
  max-height: 200px;
}

/*------------- Services Animated Circle Btn -----------*/
#spaButton {
    position: relative;
    display: inline-block;
    width: 100px;
    height: 100px;
    float:right;
  }

  @-moz-keyframes rotate {
    0% {transform: rotate(0deg);}
    100% {transform: rotate(-360deg);}
  }

  @-webkit-keyframes rotate {
    0% {transform: rotate(0deg);}
    100% {transform: rotate(-360deg);}
  }

  @-o-keyframes rotate {
    0% {transform: rotate(0deg);}
    100% {transform: rotate(-360deg);}
  }

  @keyframes rotate {
    0% {transform: rotate(0deg);}
    100% {transform: rotate(-360deg);}
  }

  .round {
    display: block;
    position: absolute;
    left: 0;
    right:0;
    top: 0;
    bottom:0;
    width: 100%;
    height: 100%;
    padding-top: 30px;    
    text-decoration: none;    
    text-align: center;
    font-size: 20px;    
    text-shadow: 0 1px 0 rgba(255,255,255,.7);
    letter-spacing: -.065em;
    font-family: "Merriweather", serif;   
    -webkit-transition: all .25s ease-in-out;
    -o-transition: all .25s ease-in-out;
    -moz-transition: all .25s ease-in-out;
    transition: all .25s ease-in-out;
    box-shadow: 2px 2px 7px rgba(0,0,0,.2);
    border-radius: 300px;
    z-index: 1;
    border-width: 4px;
    border-style: solid;
  }

  .round:hover {
    width: 130%;
    height: 130%;
    left: -15%;
    top: -15%;
    font-size: 33px;
    padding-top: 38px;
    -webkit-box-shadow: 5px 5px 10px rgba(0,0,0,.3);
    -o-box-shadow: 5px 5px 10px rgba(0,0,0,.3);
    -moz-box-shadow: 5px 5px 10px rgba(0,0,0,.3);
    box-shadow: 5px 5px 10px rgba(0,0,0,.3);
    z-index: 2;
    border-size: 10px;
    -webkit-transform: rotate(-360deg);
    -moz-transform: rotate(-360deg);
    -o-transform: rotate(-360deg);
    transform: rotate(-360deg);
  }

  a.pink {
    background-color: rgba(255, 182, 193,1);
    color: rgba(254, 72, 100,1);
    border-color: rgba(205,92,92,.2);
  }

  a.pink:hover {
    content:hidden;
    color: rgba(255, 182, 193, 0.4);
    display:hidden;
  }

  .round span.round {
    display: block;
    opacity: 0;
    -webkit-transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -o-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
    font-size: 1px;
    border: none;
    padding: 40% 20% 0 20%;
    color: #fff;
  }

  .round span:hover {
    opacity: .85;
    font-size: 16px;
    -webkit-text-shadow: 0 1px 1px rgba(0,0,0,.5);
    -moz-text-shadow: 0 1px 1px rgba(0,0,0,.5);
    -o-text-shadow: 0 1px 1px rgba(0,0,0,.5);
    text-shadow: 0 1px 1px rgba(0,0,0,.5);  
  }

  .pink span {
    background: rgba(254, 72, 100,1);
  }
  .pink:hover

/*-------- End of animated circle btn Services -  -------*/

/*  .carousel-inner img {
      width: 100%;
      height: 100%;
  }*/
/* -------- Card Gallery Section*----------*/

/*.imgUniform{
  height:200px;
  width:200px;

}*/


.grouping {
  margin: 1em 0;
  text-align: center;
}

.grouping img {
  width: 30vw;
  height: 30vw;
}

.grouping-cover img {
  object-fit: cover;
}

.introPic {
  margin: 1em 0;
  text-align: center;
}

.introPic img {
  width: 30vw;
  height: 30vw;
}

.introPic-cover img {
  object-fit: contain;
}


/*.singleImg{
  width:130vw;
  height:30vw;
}*/

.scroll{
  height: 11em;
  overflow:scroll;
/*  white-space: nowrap;
  text-overflow: ellipsis;*/
}

#gallery{
	background:slategray;
/*  background-image: linear-gradient(to top, #e6e9f0 0%, #eef1f5 100%);
    min-height: 100vh;
    font: normal 16px sans-serif;*/
}

#gallery h1 {
    text-align: center;
    margin-top: 70px;
    font-family: 'Merriweather', serif;
    font-weight: bold;
    color: #58595a;
}

.client-gallery {
    padding: 40px;
}

.client-gallery .thumbnail {
    padding: 0;
    margin-bottom: 30px;
    background-color: #fff;
    border-radius: 4px;
    border: none;
    transition: 0.15s ease-in-out;
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.06);
}

.client-gallery .thumbnail:hover {
    transform: translateY(-10px) scale(1.02);
}

.client-gallery .lightbox img {
    border-radius: 4px 4px 0 0;
}

.client-gallery .caption{
    padding: 26px 30px;
    text-align: center;
}

.client-gallery .caption h3 {
    font-size: 14px;
    font-weight: bold;
    margin-top: 0;
}

.client-gallery .caption p {
    font-size: 12px;
    color: #7b7d7d;
    margin: 0;
}

.baguetteBox-button {
    background-color: transparent !important;
}

.card-img-top-250{
  max-height: 250px;
  overflow:hidden;
}
/* -------- Team Section*----------*/

.staffHeader{
  margin-bottom:20px;
}

#accordionTeam{
  background: url("images/graybg.jpg") top left no-repeat;
  background-size:cover;
/*  opacity: 0.5;
*/  box-shadow: inset 0 0 50px rgba(120, 81, 169, 0.5);
}

.accordion p {
  font-size: 1em;
  text-align:left;
  padding: 1em 2em;
 }

.accordion h2{
  color:purple;
}
.accordion .card {
  margin:0;
  background-color: #FFE4E1 ;
}

.accordion .card-header{
  font-size:3em;
  font-family:"Merriweather", serif;
  color:black;
  padding:0.15em;
}

.accordion .card-header h5{
  color:#ff1493;
}

.accordion .card-header h5 button{
  font-size:1.5rem;
  font-family:"Merriweather", serif;
  color:black;
}

.bio{
  height:80vh;
  overflow:auto;
}

.imgThumb{
  height:0.13em;
  width:0.13em;
  align-content:center;
}

/* -------- Pricing Section*----------*/
/*.card-deck{
  
  width: 100%;
  margin-bottom: .75rem;
  table-layout: fixed;
  border-spacing: 1.25rem 0;
}*/
.pricePic{
  margin-bottom: 1rem;
  display: block;
  width: 80%;
  height: 200px;
  margin-left: auto;
  margin-right: auto;
}

.scrollable{
  display:block;
  overflow:auto;
  height:298px;
  width:100%;
}

thead tr{
  display:block;
}

/*---- card flip -----*/
/*https://www.codicode.com/art/3d_flipping_cards_pure_css3_card_flip_plugin.aspx
*/
.flipcard {
  position: relative;
/*  width: 220px;
  height: 160px;
  perspective: 500px;*/
}
.flipcard.v:hover .front, .flipcard.v.flip .front{
  transform: rotateX(180deg);
}
.flipcard.v:hover .back, .flipcard.v.flip .back{
  transform: rotateX(0deg);
}
.flipcard.v .back{
  transform: rotateX(-180deg);
}
.flipcard.h:hover .front, .flipcard.h.flip .front{
  transform: rotateY(180deg);
}
.flipcard.h:hover .back, .flipcard.h.flip .back{
  transform: rotateY(0deg);
}
.flipcard.h .back{
  transform: rotateY(-180deg);
}
.flipcard .front, .flipcard .back
{
  position:absolute;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  transition: all 0.5s ease-in;
  color: white;
  background-color: #000;
  padding: 10px;
  backface-visibility: hidden;
}

/* -------- Appointment Section*----------*/
/*aside{
  height:500px;
} */
/*want to align the two asides' heights in the appointment section*/
/*.shoppingCart{
  height:400px;
}*/
/*
.appointmentContainer{
  width:100%;
}*/
#appointment .card{
  height: 600px;
  border:solid 3px black;
}

#appointment .card .card-header{
  padding-top:2px;
  font-size:12px;
  text-align: center;
  color:black;
  background-color:rgba(253, 208, 215, 1);
  font-family:"Merriweather", serif;
}

table{
/*  overflow:auto;
  overflow-x:hidden;*/
  height:300px;
  font-size:14px;
}

.color-hover tbody tr:hover td { 
  background: rgba(253, 242, 244, 1); 
}

tbody{
  display:block;
  height:200px;
  overflow:auto;
}

thead, tbody, tr{
  display:table;
  table-layout: fixed;
  width:100%;
  
}

thead{
  width:calc(100%-1em);
  background-color:rgba(253, 208,215, 1);
  color:#000;
}

.remove{
  float:right;
  color:red;
  line-height: 1.25em;
}

i.fa-trash-alt{
  color:#e60073;!important
}

.tooltip-inner {
    max-width: 200px;
    padding: 3px 8px;
    color: #000;
    text-align: center;
    background-color:  #e60073;
    border-radius: .25rem;
}

tfoot{
  text-align: right;
  background-color:rgba(253, 208, 215, 1);
  color:#000;
}

#totalAmt{
  text-align:left;
}

/* -------- Join Us Section*----------*/

#signup{
  background: url("images/pinkScarf.jpg") top left no-repeat;
  /*background-size:cover;*/
  opacity: 0.8;
}
.input-group-btn:last-child>.btn{
  background-color:#ff1493;
}

.joinUs{
  float:right;  
}

#buttonContact {
    background-color: pink;
    border: none;
    color: #000;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

footer{
  background: #ffc0cb;
  text-align: center;
  padding: 20px;
  font-family: Georgia, Times, serif;
}

footer a{
  color:#ff1493;
}

/* Media Queries */

@media only screen and ( max-width : 568px ) {
    .cover h1 {
        font-size: 40px;
    }

    
    #services .card-title{
        font-size:;
    }
}