/*font-family: 'Lovers Quarrel', cursive;
font-family: 'Italianno', cursive;
font-family: 'Pacifico', cursive;
font-family: 'Merriweather', serif;*/

/* This is just a comment to mark a spot - will be removed */
html,
body,
.cover {
    height: 100%;
    font-family:"Merriweather", serif;
}

body{
	position:relative;
}

section{
	padding:80px;
}

h2{
	text-align: center;
	font-size:28px;
	font-weight: bold;
	text-transform: uppercase;
	margin: 0 0 60px;
}

h2 + p {
	text-align: center;
	margin-top: -60px;
}

/*-------- Cover/Overlay ----------*/

.cover{
	background: url("images/pinkBlackSalon.jpg") top left no-repeat;
	background-size: cover;
	display:table;
	width:100%;
	padding: 0 20%;
	box-shadow: inset 0 0 100px #FF1493;
	position:relative;
}

.cover-text{
	text-align: center;
	color: black;
	margin-top:20px;
	display:table-cell;
	vertical-align: top;
}

.cover-text h1{
	font-family:"Pacifico", cursive;
	margin-top:80px;
	font-size:70px;
	letter-spacing: -3px;

}

.headerbg{
	background-color:rgba(255, 250, 250, 1);
	border-radius:10px;
}
#overlay {
    position: absolute;
    width: 30%;
/*    height: 70%;*/
    border-radius:50%;
    top: 6rem;
    left: 20rem;
    right: 0;
    bottom: 0;
    background-color: rgba(255, 250, 250, 1);
    z-index: 2;
    cursor: pointer;
}

#overlaytext{
    position: absolute;
    font-size: 30px;    
		font-family: 'Merriweather', serif;
		letter-spacing: -3px;
    text-align:center;
    color: slategray;
    transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
}

#makeCut{
	color: black;
  font-family:"Italianno", cursive;
	font-size: 1.75rem;
/*	position:absolute;
	bottom:10%;
	left:20%;*/
}

#coverButton{
	background:#FF1493;
	color:white;
	position:absolute;
	bottom:10%;
	text-align: center;
}

#scrollArrows{
	position:fixed;
	bottom:3%;
	right:2%;
}
/*-------------- Testing Area Resp. Circle --------------*/
.circle {
  display: flex;
  min-width: 15%;
  /* to allow placement of numbers on top of circles instead of below them */
  white-space: nowrap;

}

.circle:before {
  border-radius: 50%;
  /* = 15%, almost gives us viewport width unit (15vw) */
  width: 100%;
  /*padding-bottom: 100%;
*/  /* this way we should have 1px gap between circles */
  margin: 15px .5px;
  background-color: rgba(255, 250, 250, 1);
  z-index: 2;
  content: '';
/*  display: inline-block;
  circle to the middle, so that... [1] 
  vertical-align: middle;*/
  
  /* to use viewport based units we can safely override the old units in this way */
  padding-bottom: 0vw;
  width: 15vw;
  height: 15vw;

  position:absolute;
	bottom:10%;
	left:20%;
}

.circle p {
  display: flex;
  font-size: 16pt;
  color:red;
  font-weight:800;
/*  font-family: 'Italianno', cursive;
*/text-align: center
 /*  -.5em = white space between p elements... 
  margin: 0 -.5em 0 -100%;*/
  padding: 0;
  /* ... text can be middle too! [1] */
  vertical-align: middle;
  white-space: normal;
  width: 100%;
  /* for some reason that I can't figure out right now...
    viewport units eliminate the white space issue */
  margin: 0 0 0 -15vw;
  width: 15vw;
  position:absolute;
	bottom:10%;
	left:20%;
}
/* end testing area for responsive circle enclosing text*/

/* -------- Navigation Bar*----------*/
nav.navbar-inverse{
	background:rgba(255, 105, 180, 0.3);
	border:0;
	font-family: "Merriweather", serif;
	font-weight:800;
}

.navbar-inverse .navbar-nav>li>a {
    color: black;
/*    margin-right: 10px;*/
}

.navbar-inverse .navbar-brand {
	font-family:'Pacifico', cursive;
	font-weight:100;
	font-size:23px;
	color:black!important;
	border:none;
  color: black;
}

/* -------- Testimonial Section*----------*/

.testimonial{
	background: #222;
}

blockquote{
	border:none;
	margin: 0;
	font-family: 'Merriweather', serif;
	font-size: 18px;
	font-weight:400;
	color:#FF66C1;
}

blockquote cite{
	display: block;
	text-align: center;
	font-family: 'Pacifico', cursive;
	font-size: 20px;
	color: #ffb6c1;
	font-weight:400;
	margin-top: 10px;
}

/* -------- Why Us Section*----------*/

#services{
	background: url("images/pinkBubbleBackground.jpg") top left no-repeat;
	background-size:cover;
	opacity: 0.5;
	box-shadow: inset 0 0 50px rgba(255, 182, 193, 0.5);

}

#why-text{
	font-weight:800;
	color:black;
}

/* -------- Card Gallery Section*----------*/

#gallery{
	background:slategray;
}
.album{
	background-color:#F2DEE3;
}
img {
	max-height: 300px;
	max-width: 400px;
}

.box-shadow { box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05); }

.card-img-top {
    height: 25rem;
    object-fit: cover;
    width:100%;
}
.card{
	margin-bottom:3rem;
	max-height: 500px;
}
.shadow {
   -moz-box-shadow:    inset 0 0 10px #000000;
   -webkit-box-shadow: inset 0 0 10px #000000;
   box-shadow:         inset 0 0 10px #000000;
}

/* -------- Team Section*----------*/

#team{
/*	background: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQBwvYYBqTO6AzJCDNC4jDwYZ62B7Y1tDOjC4d5YUP8ZxoZd90zig") top left no-repeat;
	background-size:cover;
	opacity: 0.5;*/
	color:#ff1493;
	text-align:center;
	padding:60px 20px;
}

#team.container{
	opacity: 1.0;
}

/* -------- Join Us Section*----------*/

#signup{
	background: url("images/pinkScarf.jpg") top left no-repeat;
	/*background-size:cover;*/
	opacity: 0.8;
}
.input-group-btn:last-child>.btn{
	background-color:#ff1493;
}

.joinUs{
	float:right;	
}

/*form{
	float:right;
}*/

#buttonContact {
    background-color: pink;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

footer{
	background: #ffc0cb;
	text-align: center;
	padding: 20px;
	font-family: Georgia, Times, serif;
}

footer a{
	color:#ff1493;
}




/* Media Queries */

@media only screen and ( max-width : 568px ) {
    .cover h1 {
        font-size: 40px;
    }
    section {
        padding: 20px;
    }
    
}